* {
  list-style: none;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}
/* navbar--------------------------------- */
.navbar {
  position: fixed;
  top: 8px;
  right: 8px;
}
.lista {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: #313a56;
  border-radius: 6px;
}
.lista a {
  color: white;
  margin: 0 10px;
}
.lista a:hover {
  background-color: black;
  border-radius: 5px;
  margin: 4px;
  padding: 4px;
  transition: 0.2s ease-in-out;
}

/* grid----------------------------------- */
.contenedor {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh 100vh 100vh 100vh;
  grid-template-areas:
    "inicio"
    "portafolio"
    "skills"
    "contacto";
}
/* colores
azul claro#5568fe
azul oscuro #313a56
seleste #e7edff
marmol #f8f1ff */
#inicio {
  grid-area: inicio;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
#portafolio {
  grid-area: portafolio;
}
#skills {
  grid-area: skills;
}
#contacto {
  grid-area: contacto;
}
